.hero-portafolio {
  position: relative;
  background-image: url('../../../../public/assets/imagenes/home/heroBienvenida/posibleslider3.webp');
  background-size: cover;
  background-position: top center;
  color: #fff;
  padding: 6rem 1rem;
  text-align: center;
  overflow: hidden;
}

.hero-portafolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajustá la opacidad a tu gusto */
  z-index: 0;
}

.hero-portafolio .content {
  position: relative;
  z-index: 1;
}

.hero-portafolio h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #00ffc3;
}

.hero-portafolio p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto;
  color: #f1f1f1;
}
